.full {
  background-color: transparent;
  padding: 10px;
  /*height: 300px;*/
  /*added a height to illustrate*/
  display: flex;
  /* new */
  flex-direction: column;
  /* new */
}

.black {
  color: black;
  text-shadow: 1px 1px 1px #aaa;
}

.blue {
  color: #0000ff;
    text-shadow: 1px 1px 1px #aaa;
}

.white {
  color: white;
    text-shadow: 1px 1px 1px #aaa;
}

.red {
  color: #ff0000;
    text-shadow: 1px 1px 1px #aaa;
}

.green {
  color: #00ff00;
    text-shadow: 1px 1px 1px #aaa;
}

.custom-colors-panel {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  padding: 12px;
  max-height: 320px;
}

.custom-colors-panel input[type="color"] {
  width: 100%;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 2px;
}
